@import '../../styles/reset';
@import '../../styles/fonts';
@import '../../styles/colors';

#root {
  height: 100%;
}

.page-main {
  display: flex;
  flex-direction: column;

  min-width: 100%;
  min-height: 100%;

  font-family: $FONT_DEFAULT;
  color: $COLOR_TEXT;

  background-color: $COLOR_BACKGROUND;
}
