@import '../../styles/helpers-placeholders';
@import '../../styles/reset';
@import '../../styles/fonts';
@import '../../styles/colors';

.screen-apod {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  min-width: 100%;
  min-height: 100%;

  font-family: $FONT_DEFAULT;
  color: $COLOR_TEXT;

  background-color: $COLOR_BACKGROUND;

  &.loading {
    .screen-apod__apod {
      display: none;
    }

    .screen-apod__loading {
      display: flex;
    }
  }

  &.erro {
    .screen-apod__apod {
      display: none;
    }

    .screen-apod__loading {
      display: none;
    }

    .screen-apod__erro {
      display: flex;
    }
  }

  &__apod {
    flex-grow: 1;
  }

  &__loading {
    display: none;
    flex-grow: 1;
  }

  &__erro {
    @extend %center-content;
    display: none;
    font-size: 1.8rem;
    flex-grow: 1;
  }
}
