@import '../../styles/helpers-placeholders';
@import '../../styles/colors';

.component-navigator {
  @extend %center-content;

  .component-navigator__button {
    margin: 20px 10px;
    border-radius: 5px;
    padding: 8px;
    font-size: 1.4rem;
    font-weight: bold;
    color: $COLOR_TEXT_LIGHT;
    background-color: $COLOR_BACKGROUND_DARK;
  }
}
