.component-apod {

  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h2 {
    margin: 8px 0;
    font-size: 16px;
    font-weight: bold;
  }

  p {
    margin: 8px 0;
    text-align: justify;
    font-size: 14px;
    line-height: 1.5;
  }
}
